#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated))
#
CFG_GRAFANA_APP_NAME=grafana
CFG_GRAFANA_BACKUP=true
CFG_GRAFANA_COMPOSE_FILE=default
CFG_GRAFANA_HOST_NAME=grafana
CFG_GRAFANA_DOMAIN_NUMBER=1
CFG_GRAFANA_PUBLIC=true
CFG_GRAFANA_WHITELIST=true
CFG_GRAFANA_PORT=3002