#
# APP_NAME = name of the application for use in the scripts
# BACKUP = true if this application is to be backed up, false if it is not
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_SSHDOWNLOAD_APP_NAME=sshdownload
CFG_SSHDOWNLOAD_BACKUP=false
CFG_SSHDOWNLOAD_COMPOSE_FILE=default
CFG_SSHDOWNLOAD_HOST_NAME=sshdownload
CFG_SSHDOWNLOAD_LOGIN_REQUIRED=true
CFG_SSHDOWNLOAD_HEADSCALE=false
CFG_SSHDOWNLOAD_PORTS=3131