#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# WHITELIST = if true only allow whitelisted ips (see general config), if false allow all
# HEADSCALE = options : false, local, remote (see general config). e.g false or local,remote
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_LINKDING_APP_NAME=linkding
CFG_LINKDING_BACKUP=true
CFG_LINKDING_COMPOSE_FILE=default
CFG_LINKDING_HOST_NAME=bookmark
CFG_LINKDING_DOMAIN_NUMBER=1
CFG_LINKDING_PUBLIC=true
CFG_LINKDING_WHITELIST=true
CFG_LINKDING_HEADSCALE=false
CFG_LINKDING_PORTS=9092