#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated))
#
CFG_SPEEDTEST_APP_NAME=speedtest
CFG_SPEEDTEST_BACKUP=false
CFG_SPEEDTEST_COMPOSE_FILE=default
CFG_SPEEDTEST_HOST_NAME=speedtest
CFG_SPEEDTEST_DOMAIN_NUMBER=1
CFG_SPEEDTEST_PUBLIC=true
CFG_SPEEDTEST_WHITELIST=true
CFG_SPEEDTEST_PORTS=4001