#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# WHITELIST = if true only allow whitelisted ips (see general config), if false allow all
# AUTHELIA = if true, use Authelia authentication, if false turned off.
# HEADSCALE = options : false, local, remote (see general config). e.g false or local,remote
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_TEST_APP_NAME=test
CFG_TEST_BACKUP=true
CFG_TEST_COMPOSE_FILE=default
CFG_TEST_HOST_NAME=test
CFG_TEST_DOMAIN_NUMBER=1
CFG_TEST_PUBLIC=true
CFG_TEST_WHIELIST=true
CFG_TEST_AUTHELIA=true
CFG_TEST_HEADSCALE=false
CFG_TEST_PORTS=12324