#
# APP_NAME = name of the application for use in the scripts
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORT = port number of the application that will be used
#
CFG_TRILIUM_APP_NAME=trilium
CFG_TRILIUM_HOST_NAME=notes
CFG_TRILIUM_DOMAIN_NUMBER=1
CFG_TRILIUM_PUBLIC=false
CFG_TRILIUM_PORT=8091