#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated))
#
CFG_MAILCOW_APP_NAME=mailcow
CFG_MAILCOW_BACKUP=true
CFG_MAILCOW_COMPOSE_FILE=app
CFG_MAILCOW_HOST_NAME=mail
CFG_MAILCOW_DOMAIN_NUMBER=1
CFG_MAILCOW_PUBLIC=true
CFG_MAILCOW_WHITELIST=true
CFG_MAILCOW_USING_CADDY=false
CFG_MAILCOW_PORTS=8022,4432,25,110,143,465,587,993,995,4190
CFG_MAILCOW_OPEN_PORTS=8022/tcp,4432/tcp,25/tcp,110/tcp,143/tcp,465/tcp,587/tcp,993/tcp,995/tcp,4190/tcp