#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORT = port number of the application that will be used
#
CFG_JITSIMEET_APP_NAME=jitsimeet
CFG_JITSIMEET_BACKUP=true
CFG_JITSIMEET_COMPOSE_FILE=default
CFG_JITSIMEET_HOST_NAME=meet
CFG_JITSIMEET_DOMAIN_NUMBER=1
CFG_JITSIMEET_PUBLIC=true
CFG_JITSIMEET_WHITELIST=false
CFG_JITSIMEET_GIT=https://github.com/jitsi/docker-jitsi-meet/