#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated))
#
CFG_AKAUNTING_APP_NAME=akaunting
CFG_AKAUNTING_BACKUP=true
CFG_AKAUNTING_COMPOSE_FILE=app
CFG_AKAUNTING_HOST_NAME=invoice
CFG_AKAUNTING_DOMAIN_NUMBER=1
CFG_AKAUNTING_PUBLIC=true
CFG_AKAUNTING_WHITELIST=false
CFG_AKAUNTING_PORTS=8080
CFG_AKAUNTING_PASSWORD=RANDOMIZEDPASSWORD # This will be generated, no need to edit!
CFG_AKAUNTING_LANGUAGE=en-GB