#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# WHITELIST = if true only allow whitelisted ips (see general config), if false allow all
# HEALTHCHECK = if true, the default docker health checks for that container will be enabled
# HEADSCALE = options : false, local, remote (see general config). e.g false or local,remote
# PORTS = port number(s) that the application will be used (comma seperated)
# OPEN PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_ANYSYNC_APP_NAME=anysync
CFG_ANYSYNC_BACKUP=true
CFG_ANYSYNC_COMPOSE_FILE=app
CFG_ANYSYNC_HOST_NAME=space
CFG_ANYSYNC_DOMAIN_NUMBER=1
CFG_ANYSYNC_PUBLIC=true
CFG_ANYSYNC_WHITELIST=false
CFG_ANYSYNC_HEALTHCHECK=true
CFG_ANYSYNC_HEADSCALE=false
CFG_ANYSYNC_PORTS=8001,8002,8003,8004,8005,8006,8081,8082
CFG_ANYSYNC_OPEN_PORTS=8001/tcp,8002/tcp,8003/tcp,8004/tcp,8005/tcp,8006/tcp,8081/tcp,8082/tcp
CFG_ANYSYNC_GIT="https://github.com/anyproto/any-sync-dockercompose"