#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# WHITELIST = if true only allow whitelisted ips (see general config), if false allow all
# HEALTHCHECK = if true, the default docker health checks for that container will be enabled
# AUTHELIA = if true, use Authelia authentication, if false turned off.
# HEADSCALE = options : false, local, remote (see general config). e.g false or local,remote
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_PIPED_APP_NAME=piped
CFG_PIPED_BACKUP=false
CFG_PIPED_COMPOSE_FILE=default
CFG_PIPED_HOST_NAME=piped
CFG_PIPED_DOMAIN_NUMBER=1
CFG_PIPED_PUBLIC=true
CFG_PIPED_WHITELIST=false
CFG_PIPED_HEALTHCHECK=true
CFG_PIPED_AUTHELIA=false
CFG_PIPED_HEADSCALE=false
CFG_PIPED_PORTS=8025