#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# WHITELIST = if true only allow whitelisted ips (see general config), if false allow all
# HEALTHCHECK = if true, the default docker health checks for that container will be enabled
# AUTHELIA = if true, use Authelia authentication, if false turned off.
# HEADSCALE = options : false, local, remote (see general config). e.g false or local,remote
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_VAULTWARDEN_APP_NAME=vaultwarden
CFG_VAULTWARDEN_BACKUP=true
CFG_VAULTWARDEN_COMPOSE_FILE=default
CFG_VAULTWARDEN_HOST_NAME=vault
CFG_VAULTWARDEN_DOMAIN_NUMBER=1
CFG_VAULTWARDEN_PUBLIC=true
CFG_VAULTWARDEN_WHITELIST=false
CFG_VAULTWARDEN_HEALTHCHECK=false
CFG_VAULTWARDEN_AUTHELIA=false
CFG_VAULTWARDEN_HEADSCALE=false
CFG_VAULTWARDEN_PORTS=8201