#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORT = port number of the application that will be used
#
CFG_DUPLICATI_APP_NAME=duplicati
CFG_DUPLICATI_COMPOSE_FILE=default
CFG_DUPLICATI_HOST_NAME=backup
CFG_DUPLICATI_DOMAIN_NUMBER=1
CFG_DUPLICATI_PUBLIC=false
CFG_DUPLICATI_PORT=8200