#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated))
#
CFG_OWNCLOUD_APP_NAME=owncloud
CFG_OWNCLOUD_BACKUP=true
CFG_OWNCLOUD_COMPOSE_FILE=default
CFG_OWNCLOUD_HOST_NAME=cloud
CFG_OWNCLOUD_DOMAIN_NUMBER=1
CFG_OWNCLOUD_PUBLIC=true
CFG_OWNCLOUD_WHITELIST=true
CFG_OWNCLOUD_PORT=8086
CFG_OWNCLOUD_VERSION=10.12.1
CFG_OWNCLOUD_ADMIN_USERNAME=admin
CFG_OWNCLOUD_ADMIN_PASSWORD=RANDOMIZEDPASSWORD # This will be generated, no need to edit!