#
# APP_NAME = name of the application for use in the scripts
# COMPOSE_FILE = default for no app_name in the docker-compose file name, app if there is
# HOST NAME = subdomain name e.g test is the name for test.website.com
# DOMAIN NUMBER = number of the domain from the general config, useful when using multiple domains
# PUBLIC = if true, application will be setup with the reverse proxy and accessible from the internet
# PORTS = port number(s) that the application will be used (comma seperated)
#
CFG_VIRTUALMIN_APP_NAME=virtualmin
CFG_VIRTUALMIN_BACKUP=true
CFG_VIRTUALMIN_COMPOSE_FILE=default
CFG_VIRTUALMIN_HOST_NAME=virtualmin
CFG_VIRTUALMIN_DOMAIN_NUMBER=1
CFG_VIRTUALMIN_PUBLIC=true
CFG_VIRTUALMIN_PORTS=8033,10000,25,143,443,465,587,993,5353,20000
CFG_VIRTUALMIN_OPEN_PORTS=8033/tcp,10000/tcp,25/tcp,143/tcp,443/tcp,465/tcp,587/tcp,993/tcp,5353/tcp,20000/tcp
