version: '3'

networks:
  vpn:
    external: true

services:
  hbbs:
    container_name: hbbs
    ports:
      - 21115:21115
      - 21116:21116
      - 21116:21116/udp
      - 21118:21118
    image: rustdesk/rustdesk-server:latest
    command: hbbs -r DOMAINSUBNAMEHERE:21117
    volumes:
      - ./hbbs:/root
    depends_on:
      - hbbr
    restart: unless-stopped
    networks:
      vpn:
        ipv4_address: IPADDRESSHERE

  hbbr:
    container_name: hbbr
    ports:
      - 21117:21117
      - 21119:21119
    image: rustdesk/rustdesk-server:latest
    command: hbbr
    volumes:
      - ./hbbr:/root
    restart: unless-stopped
    networks:
      vpn:
        ipv4_address: 10.8.1.123
